body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.user-skill-level img {
  border-radius: 4px;
}

.user-skills-container {
  padding: 1rem;
  background-color: #fffcf8;
}

.user-skill-level:hover {
  background-color: #fffcd1;
  cursor: pointer;
}

.user-skill-level {
  border-top: 1px solid #ddd;
}
.user-skill-level:first-child {
  border-top: none;
}
